.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  text-transform: capitalize;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  padding: 10px 20px;
  background: #ef5350;
  color: white;
}

.image {
  width: calc(100% - 40px);
  min-width: 100px;
  margin-top: 10px;
}

.divider {
  height: 1px;
  width: 100%;
}

.typeList {
  margin-top: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 10px;
}

li.colorType {
  border-radius: 4px;
  color: white;
  padding: 5px;
  font-size: 11px;
  text-transform: capitalize;

  &_normal {
    background: var(--color-type-normal);
  };

  &_fighting {
    background: var(--color-type-fighting);
  };

  &_flying {
    background: var(--color-type-flying);
  };

  &_poison {
    background: var(--color-type-poison);
  };

  &_ground {
    background: var(--color-type-ground);
  };

  &_rock {
    background: var(--color-type-rock);
  };

  &_bug {
    background: var(--color-type-bug);
  };

  &_ghost {
    background: var(--color-type-ghost);
  };

  &_steel {
    background: var(--color-type-steel);
  };

  &_fire {
    background: var(--color-type-fire);
  };

  &_water {
    background: var(--color-type-water);
  };

  &_grass {
    background: var(--color-type-grass);
  };

  &_electric {
    background: var(--color-type-electric);
  };

  &_psychic {
    background: var(--color-type-psychic);
  };

  &_ice {
    background: var(--color-type-ice);
  };

  &_dragon {
    background: var(--color-type-dragon);
  };

  &_dark {
    background: var(--color-type-dark);
  };

  &_fairy {
    background: var(--color-type-fairy);
  };

  &_unknown {
    background: var(--color-type-unknown);
  };

  &_shadow {
    background: var(--color-type-shadow);
  };
}

.info {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

  &_item {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  &_container {
    width: 100%;
    flex: 1;
  }
}